@page

@{
    ViewData["Title"] = "Home";
}

<div style="min-height: calc(100vh - 12rem);"
    class="flex flex-col items-center justify-center pt-4 mx-auto md:px-16 max-w-260 md:flex-row">
    <div class="flex flex-col justify-center flex-shrink-0 w-full md:flex-grow md:w-92">
        <img src="/images/banner/banner-272x99.avif" alt="alma banner" width="138" height="50"
            class="mx-auto mb-4 md:mx-0">
        <h1 class="block mt-4 mb-0 text-6xl text-center text-white md:text-left md:text-7xl">@Localizer["Title-1"]</h1>
        <h1 class="block pt-2 mt-2 mb-2 text-6xl text-center md:text-left md:text-7xl text-rainbow">
            @Localizer["Title-2"]</h1>
        <p class="mb-8 text-center text-gray-400 md:text-xl md:text-left">@Localizer["Description"]</p>
        <a href="/events/create"
            class="block w-56 px-8 py-2 mx-auto mb-4 font-medium text-center text-white no-underline transition-all hover:scale-105 md:w-64 md:text-xl md:mx-0 rounded-xl bg-rainbow">@Localizer["Cta"]</a>
        <a href="/events"
            class="block w-56 px-8 py-2 mx-auto mb-8 font-medium text-center text-gray-400 no-underline transition-all border border-gray-400 hover:scale-105 md:w-64 md:text-xl md:mx-0 rounded-xl">@Localizer["Discover"]</a>
    </div>
    <img src="/images/logo/logo-512x512.avif" alt="alma logo" class="-mr-8 lg:w-128 lg:h-128 w-96 h-96">
</div>